<div class="cla" style="font-family: 'Jost', sans-serif;">
    {%extends "accounts/base.html"%}
    {% load bootstrap3 %}
    {%load static%}
    {% block content %}
    <div class="container" style="font-family: 'Jost', sans-serif;">
        <div class="row">
            <div class="col-md-6 mx-auto card p-5 mt-5">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="text-center">Login</h3>
                    </div>
                    <div class="panel-body">
                        <form action="{%url "login" %}" method="POST">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-lg" value="Login">
                            </div>
                            <input type="hidden" name="next" value="{{next}}">
                        </form>
                    </div>
                    <p>Do not have an account? Register
                    <p>
                        <a href="{% url "employer_register" %}">as Employer</a> OR
                        <a href="{% url "client_register" %}">as
                            a Client</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</div>