{%extends 'base.html'%}
{% block content %}
<div class="container" style="margin-top:50px; ">
    <div class="row">
        <div class="col md-7">
            {% if found_job %}
            <h4 class="text-center">Found {{ found_job|length }} available jobs with the searched term
                :<b>{{message}}</b></h4>
            {% else %}
            <h4 class="text-center" style="color:black"> Found 0 jobs for search term {{message}} <br> <br>
            </h4>
            <hr>
            {% endif %}
        </div>
        <div class=" text-center" style="margin-top:50px;">
            {% for job in found_job %}
            <hr>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <b class="text-info"> Job position:{{job.position}}</b>
                        <br>
                        <b> Available job position is {{job.position}}</b>
                        <br> at <b class="text-info">{{job.name}},</b>with the following description : {{job.description}}
                        <br> located at {{job.Location}}.
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}