{%extends 'base.html'%}
{% block content %}
<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col md-3"></div>
        {% if found_jobs %}
        <h4 class="text-center" >Found {{ found_jobs|length }} available jobs with the searched term :<b>{{message}}</b></h4>
        {% else %}
        <h4 class="text-center" style="color:black"> Found 0 jobs for search term {{message}} <br> <br>
        </h4>
        <hr>
        {% endif %}
    </div>
    <div class="row text-center">
        {% for job in found_jobs %}
        <hr>
        <div class="col-md-4">
            <div class="card" >
                <div class="card-header">
                   <b> job position:{{job.position}}</b>
                </div>
                    <!-- <p>Owner : {{ business.user.user.username}}</p>
                    <p>Contact info: <a href=""> {{business.business_email}}</a></p> -->
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}